extends layout.pug

block content
    div.row
        if user
            div.col.s12
                h1 Edit your poll here
            form#poll-form.col.s12
                div.row
                    div.col.s2.offset-s2
                        button#edit-poll.btn-large.waves-effect.waves-light.green.accent-2
                            | Edit
                    div.col.s2.offset-s4
                        button#delete-poll.btn-large.waves-effect.waves-light.red.accent-3 Delete
                div.row
                    div.col.s12.input-field
                        input#name(type="text" name="name" placeholder="Poll theme..." value=poll.name)
                        label(for="name") Poll topic
                    div.row
                    each choice, index in poll.choices
                        - var elemId = "choice-" + index;
                        div.col.s6.input-field
                            input#elemId(type="text" name=elemId value=choice)
                            label(for=elemId) Option ##{index}
        else
            div.col.s12
                h1 #{poll.name}
        unless voted
            div.row#vote-poll
                each choice, index in poll.choices
                    div.col.s6
                        unless user
                            h2 #{choice}
                        button.vote-option.btn-large.waves-effect.waves-light.red.accent-3(data-option=index) VOTE
    div.row#display
        each score in poll.votes
            div.col.s6
                p #{score}
    div.row
        - var url = "https://fcc-awesome-voting-app.herokuapp.com/poll/" + poll._id;
        div.col.s2.offset-s4
            a.twitter-share-button(href="https://twitter.com/intent/tweet" data-size="large" data-url=url data-text="Give your opinion : ")
        div.col.s2
            div.fb-share-button(data-href=url data-layout="button" data-size="large" data-mobile-iframe="true")

append scripts
    script(type="text/javascript") var pollID = "#{poll._id}";
    script(src="../js/poll.js")